:root{
    --light-white: rgb(#FFF);
}

body{
    margin: 0%;
    padding: 0%;
}

html {
    box-sizing: border-box;
    font-weight: 700;
    color: var(--black);
    font-family: sans-serif;
    background-color: var(--light-white);
}

.panel {
    background: black;
    background-size: cover;
    text-decoration: none;
    color: white;
    height: 60px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.btns {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

.panel img{
    max-width: 100%;
    max-height: 1050px;
}

.panel h3 { 
    display: inline-block;
    color: #FFF;
    position: absolute;
    left: 5%;
}

.panel a{
    text-decoration:none;
    color: #FFF;
}

@media(max-width:768px){
    .panel{
        grid-template-columns: 1fr;

        justify-items: center;
    }
    .btns{
        align-items: center;
    }
    .logo{
        display: none;
    }
}

@media(max-width:420px){
    .panel{
        grid-template-columns: 1fr;

        justify-items: center;
    }
    .btns{
        align-items: center;
    }
    .logo{
        display: none;
    }
    .items img{
        height: 100px;
    }
}
@media(max-width:320px){
    .panel{
        grid-template-columns: 1fr;

        justify-items: center;
    }
    .btns{
        align-items: center;
    }
    .logo{
        display: none;
    }
    .information img{
        height: 200px;
    }
}

.picture {
    min-height: 800px;
    background-image: url('../img/fashion-fashion-model-fashionable-1161747.jpg');
    background-size: cover;
    background-repeat: none;
    background-position: top;
    align-items: start;
    justify-content: center;
}

.information {
    background: rgb(99, 97, 97);
    color: white;
    padding: 2px;
    margin: 1rem;
    display: grid;
    gap: 10px;
    grid-template-columns: 400px 1fr;
    align-items: center;
}

.information img{
    max-width: 500px;
    max-height: 500px;
}

.items {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
}

.item {
    background: #fff;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0, 0.1);
    border: 2px solid black;
}

.item p {
    color: rgba(0, 0, 0, 0, 0.5);
}
.item .TT {
    display: inline-block;
    color: black;
    background-color: gray;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}

.items img{
    max-width: 250px;
    max-height: 250px;
}